{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>E-commerce</title>

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&amp;display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/vendors/font-awesome.css' %}">

    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/vendors/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/vendors/slick-theme.css' %}">

    <!-- Animate icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/vendors/animate.css' %}">

    <!-- Themify icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/vendors/themify-icons.css' %}">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/vendors/bootstrap.css' %}">

    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/style.css' %}">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


</head>

<body class="theme-color-23">

 

{% block content %} 

{% endblock %}

 

    <!-- latest jquery-->
    <script src="{% static 'web/js/jquery-3.3.1.min.js' %}"></script>

    <!-- slick js-->
    <script src="{% static 'web/js/slick.js' %}"></script>
    <script src="{% static 'web/js/slick-animation.min.js' %}"></script>

    <!-- menu js-->
    <script src="{% static 'web/js/menu.js' %}"></script>

    <!-- lazyload js-->
    <script src="{% static 'web/js/lazysizes.min.js' %}"></script>

    <!-- feather icon js-->
    <script src="{% static 'web/js/feather.min.js' %}"></script>

    <!-- Timer js-->
    <script src="{% static 'web/js/timer.js' %}"></script>

    <!-- Bootstrap js-->
    <script src="{% static 'web/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Bootstrap Notification js-->
    <script src="{% static 'web/js/bootstrap-notify.min.js' %}"></script>

    <!-- Theme js-->
    <script src="{% static 'web/js/theme-setting.js' %}"></script>
    <script src="{% static 'web/js/script.js' %}"></script>
    <script src="{% static 'web/js/custom-slick-animated.js' %}"></script>


    <script>
        $(window).on('load', function () {
            setTimeout(function () {
                $('#exampleModal').modal('show');
            }, 2500);
        });
        feather.replace();

        function openSearch() {
            document.getElementById("search-overlay").style.display = "block";
        }

        function closeSearch() {
            document.getElementById("search-overlay").style.display = "none";
        }
    </script>

</body>

</html>
